<div>
  <div fxLayout="row" fxLayoutAlign="space-around center">
    <div>
      <h1>
        {{title}}
      </h1>
    </div>

  </div>
    
  <div class="progress_spinner" *ngIf="showloader" style="height:280px">
    <mat-spinner class="track" diameter="100" mode="determinate" value="100">
    </mat-spinner>
    <mat-spinner diameter="100"></mat-spinner>
  </div>
    <div *ngIf="!showloader">
      <canvas height="280" baseChart [chartType]="'bar'"  [labels]="labels" [datasets]="chartData" [options]="chartOptions" [colors]="colors">
      </canvas>
    </div>
</div>