.container {
    display:flex;
    width:100%;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .block {
    width: 280px;
    height:175px;
  }

  .mat-card-content {
    text-align: center;
    font-size: 48px;
    height:70px;
  }

  .mat-card-footer{
    height:45px;
  }

  .progress_spinner .mat-progress-spinner{
    position: absolute;
    left:40%;
    display: inline;
  }
  
  ::ng-deep .mat-progress-spinner circle{
    stroke: #2196F3;
  }
  
  :host ::ng-deep .track circle{      
    stroke-opacity: 0.3 !important;
  }